.container{
    background-color: darkgoldenrod;
}
.box{
    background-color: aqua;
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: kalai1;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards ;
    animation:animation2 2s ease-in-out 3s infinite normal forwards;
}
@keyframes animation1{
    from{
        width: 100px;
    }
    to{
        width: 600px
    }
}
@keyframes animation2{
    0%{
        top:0px;
        left:0px;
    }
    25%{
        top:250px;
    }
    60%{
        left:250px;
        top:250px;
    }
    100%{
        left:250px;
    }
}

.banner{
    height: 100vh;
    background-color: burlywood;
    display:flex;
    flex-direction: column;
    justify: center;
    align-items: center;
}
.banner h1{
    font-size: 65px;
    color: rgb(17, 0, 255);
    animation: slideDown 2s ease-out;
}
.banner p{
    font-size: 40px;
    color: whitesmoke;
    animation: fadeUp 2s ease-out;
}
@keyframes slideDown{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeUp{
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}