div{
    border: 2px solid red;
    border-radius: 5px;
    font-size: medium;
    background-color: aqua;
    padding: 20px;
    width: 2oopx;
    height: 100px;
    margin: 20px ;
    display: inline;
   /* visibility: hidden;*/
}

span{
    border: 3px solid red;
    border-radius: 5px;
    font-size: medium;
    background-color:cornflowerblue;
    padding: 20px;
    width: 200px;
    height: 100px;
    margin:20px;
    display: inline-block;
    opacity: 0;
}