/*.container{
    border:2px,solid blueviolet;
    display: grid;
    grid-template-columns: 200px 100px 150px;
    grid-template-rows: 100px 150px;
    /*grid-row-gap: 10px;
    grid-column-gap: 5px;
    gap: 20px;

}
.item{
    border:2px,solid red;
    background-color: aquamarine;
}
.layout{
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "Header header"
    "side bar"
    "Footer footer"
}

Header{
    grid-area: header;
    background-color: blue;
    height: 250px; ;

}
aside{
    grid-area: sidebar;
    background-color: aquamarine;
    height: 250px;
}
Main{
    grid-area: main;
    background-color: brown;
    height: 250px;
}
footer{
    grid-area:footer ;
    background-color: rgb(45, 213, 213);
    height: 150px;
}*/
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(150px,1fr));
    padding: 20px;
    background-color: blue;
    gap: 10px;
    border-radius: 4px;
}
.card{
    padding: 10px;
    background-color: burlywood;
    border-radius: 5px;
}