*{
    margin: 0;
    padding: 0;
}

.container{
    border: 2px solid red;
    margin: 10px;
    height: 2000px;
}


.Box{
    border: 2px solid gold;
    width: 150px;
    height: 150px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    display: inline-block;

}
.Static{
    position: static;
    top: 50px;
    left:100px;
}

.Relative{
    position: relative;
   /* top: 50px;
    left: 100px;*/
}

.Absolute{
    position: absolute;
    /*top: 50px;
    right: 70px;*/
    background-color: aqua;
    z-index: 1;
}

.Fixed{
    position: fixed;
    bottom: 50px;
    right: 100px;

}

.sticky{
    position: sticky;
    top: 10px;
    background-color: blue;
    z-index:4;
}
.container2{
    border: 2px solid blue;
    height: 2000px;
}