/*tablet*/
@media(min-width:600px){
    h1{
        font-size: 40px;
        color: aqua;
    }
}
/*Desktop*/
@media(min-width:900px){
    h1{
        font-size: 60px;
        background-color: rebeccapurple;
    }
}
