:root{
    --clr-dark: #df9432;
    --clr-light: #8a2be2;
    --clr-grey: #c36868;
    --clr-primary:#e3d9d2; 
}
body{
    /*background-color:#df9432;*/
    background-color: var(--clr-light);
}
.title{
    /*color: #8a2be2;*/
    background-color: var(--clr-dark);
}
.desc{
    /*color: #c36868;*/
    background-color: var(--clr-grey);
}
.link{
    /*color:#e3d9d2;*/
    background-color: var(--clr-primary);
}
